/* Footer Styles */
footer {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  padding: 16px;
  border-top: 1px solid var(--border);

  small {
    color: var(--text-muted);
  }
}
