/*Header Styles*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--border);

  h1 {
    margin-bottom: 0;
    font-size: 1.5rem;
  }
}

/* Header navigation styles */
nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.3s;

    &:hover,
    &:focus {
      color: var(--primary-light);
      cursor: pointer;
      outline: none;
    }

    &:active {
      transform: scale(0.95);
    }

    &.active {
      background-color: var(--primary-light);
      pointer-events: none;
      cursor: default;
    }
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  pointer-events: none;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 100%;
    justify-content: center;
    gap: 0.75rem;
    font-size: 2rem;
  }

  nav {
    width: 100%;
    justify-content: center;
    gap: 0.75rem;
  }

  .actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    :global(.button) {
      width: 80%;
      text-align: center;
    }
  }
}
