.filterTech {
  position: relative;

  &.isOpen {
    .filterDropdown {
      display: block;
    }
  }
}

.filterToggle {
  width: 100%;
  padding: 0.75rem 1rem;
  padding-right: 2.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  border: none;
  background-color: var(--primary);
  color: var(--text-primary);
  text-align: left;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19.5 8.25l-7.5 7.5-7.5-7.5' /%3E%3C/svg%3E");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
}

.filterDropdown {
  position: absolute;
  top: 75%;
  left: 0;
  width: 200%;
  max-height: 200px;
  overflow-y: auto;
  padding: 1rem 0.75rem;
  background-color: var(--primary);
  border-radius: 0 0 0.5rem 0.5rem;
  box-shadow: 0 4px 10px var(--shadow);
  z-index: 10;
  display: none;
}

.filterDropdownTitle {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.filterCheckbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

@media (max-width: 900px) {
  .filterDropdown {
    width: 100%;
    max-width: 22rem;
  }
}
