.container {
  /* max-width: 520; */
  margin: 2rem auto;
  padding: 1.25rem;
  border-top: 1px solid var(--border);
  border-radius: 12;
  text-align: center;
  color: var(--text-secondary);
}

.title {
  font-size: 2rem;
  color: var(--text-primary);
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 1rem;
}

.icon {
  margin-bottom: 0.25rem;
  color: var(--warning);
}
