.link {
  color: var(--text-secondary);
  transition: all 0.3s;
  position: relative;

  &:hover,
  &:focus {
    color: var(--primary-hover);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: currentColor;
    transition: width 0.25s ease;
  }
}

.active {
  font-weight: bold;
  color: var(--text-primary);

  &:hover,
  &:focus {
    color: var(--primary-hover);
  }
  &::after {
    width: 100%;
  }
}
