.searchResults {
  width: 100%;
  max-width: 80rem;
  margin: 2rem auto;
  padding: 0 1rem;
}

.jobList {
  gap: 1rem;
  margin-top: 2rem;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
}
